<% comments.each do |comment| %>
  <%= render partial: "flow/comment", locals: {comment: comment} %>
<% end %>
<div data-target="comments.more" class="more">
  <% if comments.blank? %>
    没有了
  <% else %>
    <a data-action="comments#fetchMore" data-start="<%= comments.last.id %>" data-essay-id="<%= essay_id %>" dat-essay-type="<%= essay_type %>">加载更多</a>
  <% end %>
</div>