<%= form_tag post_path(@post), method: :put do %>
<!--  <input name="_method" type="hidden" value="put" />-->
  <div class="form-group">
    <label for="content">正文</label>
    <textarea class="form-control" id="content" rows="3" name="content"><%= @post.content %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
<% end %>